.recruit-meta-box__row {
  display: flex;
  margin-bottom: 10px;
}

.recruit-meta-box__header-cell, .recruit-meta-box__cell {
  padding: 5px;
}

.recruit-meta-box__header-cell {
  flex: 0 0 150px;
}

.recruit-meta-box__cell {
  flex: 1 1 auto;
}

.recruit-meta-box input[type=text], .recruit-meta-box textarea {
  width: 100%;
}

.item-meta-box__selected-image {
  max-width: 300px;
}

.item-meta-box__selected-image img {
  max-width: 100%;
}

.item-meta-box__description {
  width: 100%;
  height: 100px;
}

.qa-meta-box__answer {
  width: 100%;
  height: 100px;
}
