@charset "UTF-8";
/*
Theme Name: Theme Name
Author: Hayashi Ryota
Version: 1.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  font-family: Volkhov, "Yu Mincho", YuMincho, "Hiragino Mincho ProN W3", "MS PMincho", "MS Mincho", serif;
}

body {
  font-size: 1.4rem;
  color: rgba(93, 82, 69, 0.85);
}

@media (max-width: 767px) {
  html, body {
    height: 100%;
  }
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.common-tag {
  border: solid 1px rgba(93, 82, 69, 0.3);
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: 5px;
  color: rgba(93, 82, 69, 0.85);
  font-size: 10px;
  font-family: Meiryo, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.recruit-table, .contact-table {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .recruit-table, .contact-table {
    padding: 0 20px;
  }
}

.recruit-table__row, .contact-table__row {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .recruit-table__row, .contact-table__row {
    flex-flow: wrap;
  }
}

@media (min-width: 768px) {
  .recruit-table__row, .contact-table__row {
    margin-bottom: 10px;
  }
}

.recruit-table__header-cell, .contact-table__header-cell {
  flex: 0 0 100%;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .recruit-table__header-cell, .contact-table__header-cell {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .recruit-table__header-cell, .contact-table__header-cell {
    flex: 0 0 150px;
    border-right: solid 1px rgba(93, 82, 69, 0.85);
    padding: 16px 18px;
  }
}

.recruit-table__cell, .contact-table__cell {
  flex: 0 0 100%;
  line-height: 1.6;
  color: rgba(93, 82, 69, 0.6);
}

@media (max-width: 767px) {
  .recruit-table__cell, .contact-table__cell {
    margin-left: 10px;
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .recruit-table__cell, .contact-table__cell {
    flex: 1 0 auto;
    padding: 16px 18px;
  }
}

/******************************
 * ヘッダー
 ******************************/
.header._top {
  height: 100%;
}

.header-bar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
  z-index: 1000;
  backface-visibility: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.header-bar__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

@media (min-width: 768px) {
  .header-bar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .header-bar._show {
    opacity: 1;
    visibility: visible;
  }
}

.header-bar-brand {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1100;
}

@media (max-width: 768px) {
  .header-bar-brand._open .header-bar-brand__name {
    color: white;
  }
  .header-bar-brand._open .header-bar-brand__white-logo {
    opacity: 1;
  }
}

.header-bar-brand__image {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  position: relative;
}

.header-bar-brand__image img {
  max-width: 100%;
}

.header-bar-brand__white-logo {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s;
}

.header-bar-brand__name {
  color: #443d34;
  transition: color 0.3s;
}

.header-bar-hamburger {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 1100;
}

@media (min-width: 768px) {
  .header-bar-hamburger {
    display: none;
  }
}

.header-bar-hamburger::before, .header-bar-hamburger__bar, .header-bar-hamburger::after {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #5d5245;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s, top 0.3s, opacity 0.3s, background-color 0.3s;
}

.header-bar-hamburger::before {
  content: '';
  top: 25%;
}

.header-bar-hamburger__bar {
  top: 50%;
}

.header-bar-hamburger::after {
  content: '';
  top: 75%;
}

.header-bar-hamburger._open::before, .header-bar-hamburger._open .header-bar-hamburger__bar, .header-bar-hamburger._open::after {
  top: 50%;
  background-color: white;
}

.header-bar-hamburger._open::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-bar-hamburger._open .header-bar-hamburger__bar {
  opacity: 0;
  transform: translateX(100%);
}

.header-bar-hamburger._open::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 768px) {
  .header-bar-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(93, 82, 69, 0.85);
    transform: translateX(100%);
    transition: transform 0.3s;
    padding-top: 55px;
  }
  .header-bar-nav._open {
    transform: translateX(0%);
  }
}

@media (min-width: 768px) {
  .header-bar-nav__list {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header-bar-nav__list {
    margin-top: 20px;
  }
}

.header-bar-nav__list-item a {
  display: block;
  position: relative;
  padding: 10px;
  color: rgba(93, 82, 69, 0.85);
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .header-bar-nav__list-item a {
    color: white;
    font-size: 2.0rem;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}

.header-bar-nav__list-item a small {
  display: block;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 3px;
}

.header-bar-nav__list-item a small::before, .header-bar-nav__list-item a small::after {
  content: '-';
}

@media (min-width: 768px) {
  .header-bar-nav__list-item a small {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-bar-nav__list-item a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: rgba(93, 82, 69, 0.5);
    transition: width 0.3s;
  }
  .header-bar-nav__list-item a:hover {
    opacity: 1;
    color: #443d34;
  }
  .header-bar-nav__list-item a:hover::after {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .header-top {
    height: 100%;
    position: relative;
  }
}

@media (min-width: 768px) {
  .header-top {
    display: flex;
    height: auto;
  }
}

.header-top-nav {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header-top-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px rgba(93, 82, 69, 0.85);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
    margin-top: -30px;
  }
}

@media (min-width: 768px) {
  .header-top-nav {
    height: 100vh;
    background: url("img/common/bg01.jpg");
  }
}

@media (max-width: 767px) {
  .header-top-nav__inner {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}

@media (min-width: 768px) {
  .header-top-nav__inner {
    width: 350px;
  }
}

.header-top-nav__logo {
  width: 60px;
  margin: 0 auto 5px;
}

.header-top-nav__logo img {
  width: 100%;
}

.header-top-nav__title {
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 20px;
  color: #443d34;
}

.header-top-nav__subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(93, 82, 69, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .header-top-nav__subtitle {
    margin-bottom: 15px;
  }
}

.header-top-nav__subtitle::before, .header-top-nav__subtitle::after {
  content: '-';
  margin: 0 10px;
}

.header-top-nav__list {
  display: flex;
  flex-flow: wrap column;
  height: 60px;
  align-content: center;
  margin-right: -30px;
}

@media (max-width: 767px) {
  .header-top-nav__list {
    display: none;
  }
}

.header-top-nav__list-item {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 30px;
}

.header-top-nav__list-item a {
  color: #5d5245;
}

.header-top-nav__list-item a .fa-angle-right {
  font-size: 1.1rem;
  margin-right: 5px;
  vertical-align: 0;
  color: rgba(68, 61, 52, 0.6);
}

.header-top-hero {
  flex: 0 0 50%;
  height: 100%;
  background: url("img/top/hero_bg.jpg") center/cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .header-top-hero {
    height: 100vh;
    justify-content: space-between;
  }
}

.header-top-hero__text {
  padding: 80px 0px 0px 30px;
}

@media (max-width: 767px) {
  .header-top-hero__text {
    text-align: right;
    margin-bottom: 30px;
  }
}

.header-top-hero__text span {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 5vw;
  line-height: 1.8;
  padding: 0 20px;
  margin-bottom: 15px;
  color: rgba(93, 82, 69, 0.85);
}

@media (min-width: 768px) {
  .header-top-hero__text span {
    font-size: 2.4rem;
  }
}

.header-top-hero-new {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 30px;
  padding: 10px;
}

@media (max-width: 768px) {
  .header-top-hero-new {
    display: none;
  }
}

.header-top-hero-new__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px;
}

.header-top-hero-new-item a {
  display: flex;
  padding: 8px 5px;
  color: #5d5245;
}

.header-top-hero-new-item:not(:last-child) {
  border-bottom: solid 1px rgba(93, 82, 69, 0.3);
}

.header-top-hero-new-item__date {
  width: 90px;
  color: rgba(93, 82, 69, 0.8);
}

.footer {
  background-color: #443d34;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%234f463a' fill-opacity='0.97'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center/32px;
  background-color: #443d34;
  color: rgba(255, 255, 255, 0.8);
  padding: 30px 0 15px;
}

.footer__inner {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-main {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
  }
}

.footer-info {
  margin: 0 10px;
}

.footer-info__brand {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer-info__brand {
    display: flex;
    align-items: center;
  }
}

.footer-info__logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer-info__logo {
    margin: 0 auto 5px;
  }
}

.footer-info__logo img {
  max-width: 100%;
}

.footer-info__name {
  color: white;
}

@media (max-width: 767px) {
  .footer-info__name {
    text-align: center;
  }
}

.footer-info__address {
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer-info__address a {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .footer-info__address {
    text-align: center;
    margin-bottom: 15px;
  }
}

.footer-nav__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer-nav__list {
    display: none;
  }
}

.footer-nav__list-item {
  position: relative;
  padding: 0 15px;
  font-size: 1.3rem;
}

.footer-nav__list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  height: 10px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.footer-nav__list-item a {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}

.footer-nav__list-item a:hover {
  opacity: 1;
  color: white;
}

.footer-nav__contacts {
  display: flex;
  justify-content: flex-end;
}

.footer-nav__tel {
  margin: 0 10px;
  padding: 0 40px;
  height: 50px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 2.0rem;
  letter-spacing: 2px;
  color: white;
}

@media (max-width: 767px) {
  .footer-nav__tel {
    flex: 1 1 50%;
    padding: 0;
  }
}

.footer-nav__tel .fa-phone {
  margin: -3px 10px 0 0;
}

.footer-nav__mail {
  margin: 0 10px;
  width: 200px;
  height: 50px;
}

@media (max-width: 767px) {
  .footer-nav__mail {
    flex: 1 1 50%;
    width: auto;
  }
}

.footer-nav__mail a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  color: #443d34;
}

.footer-nav__mail a .fa-envelope {
  font-size: 2.0rem;
  margin: -1px 10px 0 0;
}

.footer-copyright {
  text-align: center;
}

/******************************
 * トップページ
 ******************************/
.top-section {
  padding: 50px 0;
}

.top-section-concept__inner {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
}

.top-section-concept__image {
  flex: 0 1 20%;
  background: url("img/top/hero_bg.jpg") left/cover;
}

@media (min-width: 768px) {
  .top-section-concept__image {
    flex: 0 1 200px;
  }
}

.top-concept {
  padding: 150px 0px 40px 30px;
}

.top-concept__title {
  font-size: 2.0rem;
  color: #5d5245;
  margin-bottom: 30px;
}

.top-concept__text {
  margin-bottom: 10px;
  line-height: 1.7;
}

.top-section-new {
  background: url("img/common/bg01.jpg");
  overflow: hidden;
}

.top-section-new__inner {
  max-width: 1000px;
  margin: 0 auto;
}

.top-section-new__title {
  font-size: 2.0rem;
  color: #5d5245;
  text-align: center;
  margin-bottom: 30px;
}

.top-section-new__list {
  display: flex;
  margin: 0 -8px;
  margin-bottom: 30px;
  visibility: hidden;
}

.top-section-new__list:hover .top-new-item {
  opacity: 0.6;
}

.top-section-new__list:hover .top-new-item:hover {
  opacity: 1;
  transform: translateY(-10px);
}

.top-section-new__list-item {
  flex: 0 0 33.33333%;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .top-section-new__list-item:first-child {
    flex: 0 0 100%;
    padding: 0 30px;
  }
  .top-section-new__list-item:not(:first-child) {
    display: none;
  }
}

.top-section-new__button {
  text-align: center;
}

.top-section-new__button a {
  display: inline-block;
  background-color: white;
  border: solid 1px rgba(93, 82, 69, 0.6);
  border-radius: 2px;
  color: #5d5245;
  padding: 15px 30px;
  transition: background-color 0.2s, color 0.2s;
}

.top-section-new__button a:hover {
  background-color: #5d5245;
  color: white;
  opacity: 1;
}

.top-new-item {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.3s;
  visibility: visible;
}

.top-new-item__image {
  position: relative;
  height: 0;
  padding-top: 70%;
  overflow: hidden;
  margin-bottom: 5px;
}

.top-new-item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}

.top-new-item__name {
  color: #443d34;
  padding: 5px 8px;
  font-size: 1.6rem;
}

.top-new-item__tags {
  display: flex;
  padding: 5px 6px 8px;
}

.top-new-item__description {
  border-top: solid 1px rgba(93, 82, 69, 0.1);
  color: rgba(93, 82, 69, 0.7);
  line-height: 1.4;
  padding: 8px 8px;
  text-align: justify;
}

.top-section-social {
  background: url("img/common/bg02.jpg") left/cover;
}

.top-section-social__inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .top-section-social__inner {
    display: flex;
  }
}

.top-section-social__blog {
  flex: 1 1 auto;
}

@media (max-width: 767px) {
  .top-section-social__blog {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .top-section-social__blog {
    padding-right: 20px;
  }
}

.top-section-social__twitter {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .top-section-social__twitter {
    flex: 0 0 auto;
    width: 300px;
  }
}

.top-section-blog {
  border-radius: 5px;
  padding: 20px;
}

.top-section-blog__title {
  font-size: 2.0rem;
  color: #5d5245;
  border-bottom: solid 1px rgba(93, 82, 69, 0.85);
  padding: 5px 5px;
  margin-bottom: 5px;
}

.top-section-blog__articles-item:not(:last-child) {
  border-bottom: solid 1px rgba(93, 82, 69, 0.1);
}

.top-blog-article {
  display: flex;
  padding: 8px 5px;
}

.top-blog-article__date {
  flex: 0 0 6em;
  color: rgba(93, 82, 69, 0.7);
}

.top-blog-article__title {
  color: #5d5245;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-section-twitter {
  text-align: center;
}

.top-section-access {
  background: url("img/common/bg01.jpg");
}

.top-section-access__title {
  font-size: 2.0rem;
  color: #5d5245;
  margin-bottom: 30px;
  text-align: center;
}

.top-section-access__map {
  height: 350px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.top-section-access__address {
  text-align: center;
  line-height: 1.7;
  color: #5d5245;
}

.top-section-access__address a {
  color: #5d5245;
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2rem;
  color: rgba(93, 82, 69, 0.8);
}

/******************************
 * サブページ
 ******************************/
.sub-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background: url("img/common/bg03.svg") center/150px;
  border-bottom: solid 1px #f0f0f0;
}

.sub-header::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 800px;
  height: 1px;
  background-color: rgba(93, 82, 69, 0.7);
}

.sub-header__inner {
  margin-top: 55px;
  text-align: center;
}

.sub-header__title {
  font-size: 2.0rem;
  color: #5d5245;
  margin-bottom: 10px;
}

.sub-header__subtitle {
  color: rgba(93, 82, 69, 0.8);
  line-height: 1.6;
}

/******************************
 * 取扱商品
 ******************************/
.items-list {
  padding: 50px 0;
  background: url("img/common/bg01.jpg");
}

.items-list__inner {
  max-width: 1000px;
  margin: 0 auto;
}

.items-list-item {
  position: relative;
}

@media (min-width: 768px) {
  .items-list-item {
    display: flex;
  }
}

.items-list-item:not(:last-child) {
  padding-bottom: 80px;
}

.items-list-item__anchor {
  position: absolute;
  top: -90px;
}

@media (min-width: 768px) {
  .items-list-item__image {
    width: 600px;
  }
}

.items-list-item__image img {
  width: 100%;
}

@media (min-width: 768px) {
  .items-list-item._reverse {
    justify-content: flex-end;
  }
  .items-list-item._reverse .items-list-item__image {
    order: 1;
  }
  .items-list-item._reverse .items-list-item-info {
    order: 0;
    right: auto;
    left: 20px;
  }
}

.items-list-item-info {
  background-color: white;
  padding: 10px;
  border: solid 1px rgba(93, 82, 69, 0.3);
  box-shadow: 0 0 0 5px white;
  position: relative;
  z-index: 50;
  margin-top: -20px;
  margin-left: 20px;
  width: calc(100% - 20px);
}

@media (max-width: 767px) {
  .items-list-item-info {
    border-right-width: 0;
  }
}

@media (min-width: 768px) {
  .items-list-item-info {
    position: absolute;
    right: 20px;
    width: 400px;
    margin: 20px 30px;
  }
}

.items-list-item-info__title {
  font-size: 2.0rem;
  color: #5d5245;
  padding: 5px;
  border-bottom: solid 1px rgba(93, 82, 69, 0.1);
  margin-bottom: 5px;
}

.items-list-item-info__tags {
  display: flex;
  padding: 0 3px;
  margin-bottom: 5px;
}

.items-list-item-info__price {
  padding: 5px 5px 0;
  font-size: 1.2rem;
  color: rgba(93, 82, 69, 0.5);
}

.items-list-item-info__description {
  padding: 5px;
  line-height: 1.6;
}

/******************************
 * ギャラリー
 ******************************/
.gallery-list {
  padding: 50px 0;
  background: url("img/common/bg01.jpg");
  box-shadow: 0 1px rgba(0, 0, 0, 0.02) inset;
}

.gallery-list__inner {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
}

@media (max-width: 768px) {
  .gallery-list__inner {
    padding: 0 20px;
  }
}

.gallery-list .gallery-list-item {
  margin-bottom: 2vw;
}

@media (min-width: 960px) {
  .gallery-list .gallery-list-item {
    margin-bottom: 20px;
  }
}

.gallery-list .gallery-list-item:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.gallery-list .gallery-list-item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery-list .gallery-list-item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.gallery-list .gallery-list-item img {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/******************************
 * ブログ
 ******************************/
.blog-panel {
  padding: 50px 0;
  background: url("img/common/bg01.jpg");
  box-shadow: 0 1px rgba(0, 0, 0, 0.02) inset;
}

.blog-panel__inner {
  max-width: 1000px;
  padding: 0 10px;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
}

.blog-panel__main {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .blog-panel__main {
    flex: 1 1 auto;
    padding-right: 20px;
  }
}

.blog-panel__side {
  flex: 0 0 100%;
  order: 2;
}

@media (min-width: 768px) {
  .blog-panel__side {
    flex: 0 0 250px;
    order: 1;
  }
}

.blog-panel__pager {
  flex: 0 0 100%;
  margin: 20px 0;
  order: 1;
}

@media (min-width: 768px) {
  .blog-panel__pager {
    order: 2;
  }
}

.blog-article {
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}

.blog-article a {
  color: rgba(93, 82, 69, 0.85);
}

.blog-article__date {
  color: rgba(93, 82, 69, 0.5);
  padding: 0 5px;
  margin-bottom: 8px;
}

.blog-article__title {
  font-size: 2.0rem;
  padding: 0 5px;
  margin-bottom: 5px;
}

.blog-article__info {
  display: flex;
  background-color: rgba(93, 82, 69, 0.08);
  padding: 3px 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgba(93, 82, 69, 0.5);
}

.blog-article__time [class*=fa-], .blog-article__category [class*=fa-], .blog-article__tag [class*=fa-] {
  margin-right: 3px;
}

.blog-article__time {
  margin-right: 10px;
}

.blog-article__category {
  margin-right: 10px;
}

.blog-article__body {
  padding: 0 5px;
  line-height: 1.6;
}

.blog-article__body p {
  margin-bottom: 1em;
}

.blog-section-side {
  margin-bottom: 10px;
  padding: 5px 0;
}

.blog-section-side__title {
  font-size: 1.6rem;
  padding: 5px 3px;
  border-bottom: solid 1px rgba(93, 82, 69, 0.85);
}

.blog-section-side__body {
  padding: 5px 10px;
}

.blog-side-list__item {
  margin: 8px 0;
}

.blog-side-list__item a {
  color: rgba(93, 82, 69, 0.85);
}

.blog-pager {
  display: flex;
  justify-content: center;
}

.blog-pager__item a, .blog-pager__item._current {
  padding: 5px 10px;
  margin: 0 5px;
  color: #443d34;
}

.blog-pager__item a {
  display: block;
  color: rgba(93, 82, 69, 0.85);
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.blog-pager__item a:hover {
  opacity: 1;
  background-color: rgba(93, 82, 69, 0.85);
  color: white;
}

/******************************
 * Q&A
 ******************************/
.qa-list {
  padding: 50px 0;
}

.qa-list__inner {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .qa-list__inner {
    padding: 0 10px;
  }
}

.qa-block {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.qa-block::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: rgba(93, 82, 69, 0.2);
}

.qa-question {
  display: flex;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;
}

.qa-question:hover {
  background-color: rgba(93, 82, 69, 0.05);
}

.qa-question::before {
  content: '';
  display: block;
  width: 32px;
  height: 40px;
  background: url("img/qa/icon_q.svg") center/31px 40px no-repeat;
  margin-right: 10px;
}

.qa-question__title {
  flex: 1 0 auto;
  padding-top: 7px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.qa-question__accordion-switch {
  align-self: center;
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: transform 0.3s;
}

.qa-question._open .qa-question__accordion-switch {
  transform: rotateZ(180deg);
}

.qa-answer {
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
}

.qa-answer::before {
  content: '';
  display: block;
  width: 32px;
  height: 28px;
  background: url("img/qa/icon_a.svg") center/32px 28px no-repeat;
  margin-right: 10px;
}

.qa-answer__inner {
  padding-top: 4px;
  line-height: 1.6;
}

.qa-answer-wrapper {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}

/******************************
 * 採用情報
 ******************************/
.recruit-section {
  padding: 50px 0;
}

.recruit-section__title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 1.6;
}

/******************************
 * お問い合わせ
 ******************************/
.contact-section {
  padding: 50px 0;
}

.contact-section__title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 1.6;
}

.contact-table__row._center {
  justify-content: center;
}

@media (min-width: 767px) {
  .contact-table__header-cell {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.contact-table__cell {
  margin: 0;
}

@media (min-width: 767px) {
  .contact-table__cell {
    padding: 8px 18px;
  }
}

.contact-table input[type=text], .contact-table input[type=email], .contact-table textarea {
  border-width: 0;
  background-color: rgba(93, 82, 69, 0.08);
  width: 100%;
  padding: 10px;
  line-height: 1.6;
  font-size: 1.4rem;
}

.contact-table input[type=text]:focus, .contact-table input[type=email]:focus, .contact-table textarea:focus {
  background-color: rgba(93, 82, 69, 0.15);
}

.contact-table textarea {
  height: 10em;
}

.contact-table input[type=submit] {
  border: solid 1px #5d5245;
  background-color: #5d5245;
  color: white;
  letter-spacing: 1em;
  font-size: 1.4rem;
  padding: 5px 5px 5px calc(5px + 1em);
  transition: color 0.3s, background-color 0.3s;
  margin-left: 20px;
}

.contact-table input[type=submit]:hover {
  background-color: white;
  color: #5d5245;
  cursor: pointer;
}

body.home {
  visibility: hidden;
  position: relative;
}

body.home .pace {
  visibility: visible;
  position: fixed;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: visibility 0.3s, opacity 0.3s;
}

.pace-progress {
  height: 3px;
  background-color: rgba(93, 82, 69, 0.85);
  width: 100%;
  position: absolute;
  right: 100%;
  top: 50%;
}

.pace-progress::after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  top: -1.5em;
  text-align: right;
  right: 0;
}

.pace-progress[data-progress-text="0%"] {
  transform: translateX(0%) !important;
}

.pace-progress[data-progress-text="0%"]::after {
  right: calc( -100% + 10px);
}

.pace-progress[data-progress-text="1%"] {
  transform: translateX(1%) !important;
}

.pace-progress[data-progress-text="1%"]::after {
  right: calc( -99% + 10px);
}

.pace-progress[data-progress-text="2%"] {
  transform: translateX(2%) !important;
}

.pace-progress[data-progress-text="2%"]::after {
  right: calc( -98% + 10px);
}

.pace-progress[data-progress-text="3%"] {
  transform: translateX(3%) !important;
}

.pace-progress[data-progress-text="3%"]::after {
  right: calc( -97% + 10px);
}

.pace-progress[data-progress-text="4%"] {
  transform: translateX(4%) !important;
}

.pace-progress[data-progress-text="4%"]::after {
  right: calc( -96% + 10px);
}

.pace-progress[data-progress-text="5%"] {
  transform: translateX(5%) !important;
}

.pace-progress[data-progress-text="5%"]::after {
  right: calc( -95% + 10px);
}

.pace-progress[data-progress-text="6%"] {
  transform: translateX(6%) !important;
}

.pace-progress[data-progress-text="6%"]::after {
  right: calc( -94% + 10px);
}

.pace-progress[data-progress-text="7%"] {
  transform: translateX(7%) !important;
}

.pace-progress[data-progress-text="7%"]::after {
  right: calc( -93% + 10px);
}

.pace-progress[data-progress-text="8%"] {
  transform: translateX(8%) !important;
}

.pace-progress[data-progress-text="8%"]::after {
  right: calc( -92% + 10px);
}

.pace-progress[data-progress-text="9%"] {
  transform: translateX(9%) !important;
}

.pace-progress[data-progress-text="9%"]::after {
  right: calc( -91% + 10px);
}

.pace-progress[data-progress-text="10%"] {
  transform: translateX(10%) !important;
}

.pace-progress[data-progress-text="10%"]::after {
  right: calc( -90% + 10px);
}

.pace-progress[data-progress-text="11%"] {
  transform: translateX(11%) !important;
}

.pace-progress[data-progress-text="11%"]::after {
  right: calc( -89% + 10px);
}

.pace-progress[data-progress-text="12%"] {
  transform: translateX(12%) !important;
}

.pace-progress[data-progress-text="12%"]::after {
  right: calc( -88% + 10px);
}

.pace-progress[data-progress-text="13%"] {
  transform: translateX(13%) !important;
}

.pace-progress[data-progress-text="13%"]::after {
  right: calc( -87% + 10px);
}

.pace-progress[data-progress-text="14%"] {
  transform: translateX(14%) !important;
}

.pace-progress[data-progress-text="14%"]::after {
  right: calc( -86% + 10px);
}

.pace-progress[data-progress-text="15%"] {
  transform: translateX(15%) !important;
}

.pace-progress[data-progress-text="15%"]::after {
  right: calc( -85% + 10px);
}

.pace-progress[data-progress-text="16%"] {
  transform: translateX(16%) !important;
}

.pace-progress[data-progress-text="16%"]::after {
  right: calc( -84% + 10px);
}

.pace-progress[data-progress-text="17%"] {
  transform: translateX(17%) !important;
}

.pace-progress[data-progress-text="17%"]::after {
  right: calc( -83% + 10px);
}

.pace-progress[data-progress-text="18%"] {
  transform: translateX(18%) !important;
}

.pace-progress[data-progress-text="18%"]::after {
  right: calc( -82% + 10px);
}

.pace-progress[data-progress-text="19%"] {
  transform: translateX(19%) !important;
}

.pace-progress[data-progress-text="19%"]::after {
  right: calc( -81% + 10px);
}

.pace-progress[data-progress-text="20%"] {
  transform: translateX(20%) !important;
}

.pace-progress[data-progress-text="20%"]::after {
  right: calc( -80% + 10px);
}

.pace-progress[data-progress-text="21%"] {
  transform: translateX(21%) !important;
}

.pace-progress[data-progress-text="21%"]::after {
  right: calc( -79% + 10px);
}

.pace-progress[data-progress-text="22%"] {
  transform: translateX(22%) !important;
}

.pace-progress[data-progress-text="22%"]::after {
  right: calc( -78% + 10px);
}

.pace-progress[data-progress-text="23%"] {
  transform: translateX(23%) !important;
}

.pace-progress[data-progress-text="23%"]::after {
  right: calc( -77% + 10px);
}

.pace-progress[data-progress-text="24%"] {
  transform: translateX(24%) !important;
}

.pace-progress[data-progress-text="24%"]::after {
  right: calc( -76% + 10px);
}

.pace-progress[data-progress-text="25%"] {
  transform: translateX(25%) !important;
}

.pace-progress[data-progress-text="25%"]::after {
  right: calc( -75% + 10px);
}

.pace-progress[data-progress-text="26%"] {
  transform: translateX(26%) !important;
}

.pace-progress[data-progress-text="26%"]::after {
  right: calc( -74% + 10px);
}

.pace-progress[data-progress-text="27%"] {
  transform: translateX(27%) !important;
}

.pace-progress[data-progress-text="27%"]::after {
  right: calc( -73% + 10px);
}

.pace-progress[data-progress-text="28%"] {
  transform: translateX(28%) !important;
}

.pace-progress[data-progress-text="28%"]::after {
  right: calc( -72% + 10px);
}

.pace-progress[data-progress-text="29%"] {
  transform: translateX(29%) !important;
}

.pace-progress[data-progress-text="29%"]::after {
  right: calc( -71% + 10px);
}

.pace-progress[data-progress-text="30%"] {
  transform: translateX(30%) !important;
}

.pace-progress[data-progress-text="30%"]::after {
  right: calc( -70% + 10px);
}

.pace-progress[data-progress-text="31%"] {
  transform: translateX(31%) !important;
}

.pace-progress[data-progress-text="31%"]::after {
  right: calc( -69% + 10px);
}

.pace-progress[data-progress-text="32%"] {
  transform: translateX(32%) !important;
}

.pace-progress[data-progress-text="32%"]::after {
  right: calc( -68% + 10px);
}

.pace-progress[data-progress-text="33%"] {
  transform: translateX(33%) !important;
}

.pace-progress[data-progress-text="33%"]::after {
  right: calc( -67% + 10px);
}

.pace-progress[data-progress-text="34%"] {
  transform: translateX(34%) !important;
}

.pace-progress[data-progress-text="34%"]::after {
  right: calc( -66% + 10px);
}

.pace-progress[data-progress-text="35%"] {
  transform: translateX(35%) !important;
}

.pace-progress[data-progress-text="35%"]::after {
  right: calc( -65% + 10px);
}

.pace-progress[data-progress-text="36%"] {
  transform: translateX(36%) !important;
}

.pace-progress[data-progress-text="36%"]::after {
  right: calc( -64% + 10px);
}

.pace-progress[data-progress-text="37%"] {
  transform: translateX(37%) !important;
}

.pace-progress[data-progress-text="37%"]::after {
  right: calc( -63% + 10px);
}

.pace-progress[data-progress-text="38%"] {
  transform: translateX(38%) !important;
}

.pace-progress[data-progress-text="38%"]::after {
  right: calc( -62% + 10px);
}

.pace-progress[data-progress-text="39%"] {
  transform: translateX(39%) !important;
}

.pace-progress[data-progress-text="39%"]::after {
  right: calc( -61% + 10px);
}

.pace-progress[data-progress-text="40%"] {
  transform: translateX(40%) !important;
}

.pace-progress[data-progress-text="40%"]::after {
  right: calc( -60% + 10px);
}

.pace-progress[data-progress-text="41%"] {
  transform: translateX(41%) !important;
}

.pace-progress[data-progress-text="41%"]::after {
  right: calc( -59% + 10px);
}

.pace-progress[data-progress-text="42%"] {
  transform: translateX(42%) !important;
}

.pace-progress[data-progress-text="42%"]::after {
  right: calc( -58% + 10px);
}

.pace-progress[data-progress-text="43%"] {
  transform: translateX(43%) !important;
}

.pace-progress[data-progress-text="43%"]::after {
  right: calc( -57% + 10px);
}

.pace-progress[data-progress-text="44%"] {
  transform: translateX(44%) !important;
}

.pace-progress[data-progress-text="44%"]::after {
  right: calc( -56% + 10px);
}

.pace-progress[data-progress-text="45%"] {
  transform: translateX(45%) !important;
}

.pace-progress[data-progress-text="45%"]::after {
  right: calc( -55% + 10px);
}

.pace-progress[data-progress-text="46%"] {
  transform: translateX(46%) !important;
}

.pace-progress[data-progress-text="46%"]::after {
  right: calc( -54% + 10px);
}

.pace-progress[data-progress-text="47%"] {
  transform: translateX(47%) !important;
}

.pace-progress[data-progress-text="47%"]::after {
  right: calc( -53% + 10px);
}

.pace-progress[data-progress-text="48%"] {
  transform: translateX(48%) !important;
}

.pace-progress[data-progress-text="48%"]::after {
  right: calc( -52% + 10px);
}

.pace-progress[data-progress-text="49%"] {
  transform: translateX(49%) !important;
}

.pace-progress[data-progress-text="49%"]::after {
  right: calc( -51% + 10px);
}

.pace-progress[data-progress-text="50%"] {
  transform: translateX(50%) !important;
}

.pace-progress[data-progress-text="50%"]::after {
  right: calc( -50% + 10px);
}

.pace-progress[data-progress-text="51%"] {
  transform: translateX(51%) !important;
}

.pace-progress[data-progress-text="51%"]::after {
  right: calc( -49% + 10px);
}

.pace-progress[data-progress-text="52%"] {
  transform: translateX(52%) !important;
}

.pace-progress[data-progress-text="52%"]::after {
  right: calc( -48% + 10px);
}

.pace-progress[data-progress-text="53%"] {
  transform: translateX(53%) !important;
}

.pace-progress[data-progress-text="53%"]::after {
  right: calc( -47% + 10px);
}

.pace-progress[data-progress-text="54%"] {
  transform: translateX(54%) !important;
}

.pace-progress[data-progress-text="54%"]::after {
  right: calc( -46% + 10px);
}

.pace-progress[data-progress-text="55%"] {
  transform: translateX(55%) !important;
}

.pace-progress[data-progress-text="55%"]::after {
  right: calc( -45% + 10px);
}

.pace-progress[data-progress-text="56%"] {
  transform: translateX(56%) !important;
}

.pace-progress[data-progress-text="56%"]::after {
  right: calc( -44% + 10px);
}

.pace-progress[data-progress-text="57%"] {
  transform: translateX(57%) !important;
}

.pace-progress[data-progress-text="57%"]::after {
  right: calc( -43% + 10px);
}

.pace-progress[data-progress-text="58%"] {
  transform: translateX(58%) !important;
}

.pace-progress[data-progress-text="58%"]::after {
  right: calc( -42% + 10px);
}

.pace-progress[data-progress-text="59%"] {
  transform: translateX(59%) !important;
}

.pace-progress[data-progress-text="59%"]::after {
  right: calc( -41% + 10px);
}

.pace-progress[data-progress-text="60%"] {
  transform: translateX(60%) !important;
}

.pace-progress[data-progress-text="60%"]::after {
  right: calc( -40% + 10px);
}

.pace-progress[data-progress-text="61%"] {
  transform: translateX(61%) !important;
}

.pace-progress[data-progress-text="61%"]::after {
  right: calc( -39% + 10px);
}

.pace-progress[data-progress-text="62%"] {
  transform: translateX(62%) !important;
}

.pace-progress[data-progress-text="62%"]::after {
  right: calc( -38% + 10px);
}

.pace-progress[data-progress-text="63%"] {
  transform: translateX(63%) !important;
}

.pace-progress[data-progress-text="63%"]::after {
  right: calc( -37% + 10px);
}

.pace-progress[data-progress-text="64%"] {
  transform: translateX(64%) !important;
}

.pace-progress[data-progress-text="64%"]::after {
  right: calc( -36% + 10px);
}

.pace-progress[data-progress-text="65%"] {
  transform: translateX(65%) !important;
}

.pace-progress[data-progress-text="65%"]::after {
  right: calc( -35% + 10px);
}

.pace-progress[data-progress-text="66%"] {
  transform: translateX(66%) !important;
}

.pace-progress[data-progress-text="66%"]::after {
  right: calc( -34% + 10px);
}

.pace-progress[data-progress-text="67%"] {
  transform: translateX(67%) !important;
}

.pace-progress[data-progress-text="67%"]::after {
  right: calc( -33% + 10px);
}

.pace-progress[data-progress-text="68%"] {
  transform: translateX(68%) !important;
}

.pace-progress[data-progress-text="68%"]::after {
  right: calc( -32% + 10px);
}

.pace-progress[data-progress-text="69%"] {
  transform: translateX(69%) !important;
}

.pace-progress[data-progress-text="69%"]::after {
  right: calc( -31% + 10px);
}

.pace-progress[data-progress-text="70%"] {
  transform: translateX(70%) !important;
}

.pace-progress[data-progress-text="70%"]::after {
  right: calc( -30% + 10px);
}

.pace-progress[data-progress-text="71%"] {
  transform: translateX(71%) !important;
}

.pace-progress[data-progress-text="71%"]::after {
  right: calc( -29% + 10px);
}

.pace-progress[data-progress-text="72%"] {
  transform: translateX(72%) !important;
}

.pace-progress[data-progress-text="72%"]::after {
  right: calc( -28% + 10px);
}

.pace-progress[data-progress-text="73%"] {
  transform: translateX(73%) !important;
}

.pace-progress[data-progress-text="73%"]::after {
  right: calc( -27% + 10px);
}

.pace-progress[data-progress-text="74%"] {
  transform: translateX(74%) !important;
}

.pace-progress[data-progress-text="74%"]::after {
  right: calc( -26% + 10px);
}

.pace-progress[data-progress-text="75%"] {
  transform: translateX(75%) !important;
}

.pace-progress[data-progress-text="75%"]::after {
  right: calc( -25% + 10px);
}

.pace-progress[data-progress-text="76%"] {
  transform: translateX(76%) !important;
}

.pace-progress[data-progress-text="76%"]::after {
  right: calc( -24% + 10px);
}

.pace-progress[data-progress-text="77%"] {
  transform: translateX(77%) !important;
}

.pace-progress[data-progress-text="77%"]::after {
  right: calc( -23% + 10px);
}

.pace-progress[data-progress-text="78%"] {
  transform: translateX(78%) !important;
}

.pace-progress[data-progress-text="78%"]::after {
  right: calc( -22% + 10px);
}

.pace-progress[data-progress-text="79%"] {
  transform: translateX(79%) !important;
}

.pace-progress[data-progress-text="79%"]::after {
  right: calc( -21% + 10px);
}

.pace-progress[data-progress-text="80%"] {
  transform: translateX(80%) !important;
}

.pace-progress[data-progress-text="80%"]::after {
  right: calc( -20% + 10px);
}

.pace-progress[data-progress-text="81%"] {
  transform: translateX(81%) !important;
}

.pace-progress[data-progress-text="81%"]::after {
  right: calc( -19% + 10px);
}

.pace-progress[data-progress-text="82%"] {
  transform: translateX(82%) !important;
}

.pace-progress[data-progress-text="82%"]::after {
  right: calc( -18% + 10px);
}

.pace-progress[data-progress-text="83%"] {
  transform: translateX(83%) !important;
}

.pace-progress[data-progress-text="83%"]::after {
  right: calc( -17% + 10px);
}

.pace-progress[data-progress-text="84%"] {
  transform: translateX(84%) !important;
}

.pace-progress[data-progress-text="84%"]::after {
  right: calc( -16% + 10px);
}

.pace-progress[data-progress-text="85%"] {
  transform: translateX(85%) !important;
}

.pace-progress[data-progress-text="85%"]::after {
  right: calc( -15% + 10px);
}

.pace-progress[data-progress-text="86%"] {
  transform: translateX(86%) !important;
}

.pace-progress[data-progress-text="86%"]::after {
  right: calc( -14% + 10px);
}

.pace-progress[data-progress-text="87%"] {
  transform: translateX(87%) !important;
}

.pace-progress[data-progress-text="87%"]::after {
  right: calc( -13% + 10px);
}

.pace-progress[data-progress-text="88%"] {
  transform: translateX(88%) !important;
}

.pace-progress[data-progress-text="88%"]::after {
  right: calc( -12% + 10px);
}

.pace-progress[data-progress-text="89%"] {
  transform: translateX(89%) !important;
}

.pace-progress[data-progress-text="89%"]::after {
  right: calc( -11% + 10px);
}

.pace-progress[data-progress-text="90%"] {
  transform: translateX(90%) !important;
}

.pace-progress[data-progress-text="90%"]::after {
  right: calc( -10% + 10px);
}

.pace-progress[data-progress-text="91%"] {
  transform: translateX(91%) !important;
}

.pace-progress[data-progress-text="91%"]::after {
  right: calc( -9% + 10px);
}

.pace-progress[data-progress-text="92%"] {
  transform: translateX(92%) !important;
}

.pace-progress[data-progress-text="92%"]::after {
  right: calc( -8% + 10px);
}

.pace-progress[data-progress-text="93%"] {
  transform: translateX(93%) !important;
}

.pace-progress[data-progress-text="93%"]::after {
  right: calc( -7% + 10px);
}

.pace-progress[data-progress-text="94%"] {
  transform: translateX(94%) !important;
}

.pace-progress[data-progress-text="94%"]::after {
  right: calc( -6% + 10px);
}

.pace-progress[data-progress-text="95%"] {
  transform: translateX(95%) !important;
}

.pace-progress[data-progress-text="95%"]::after {
  right: calc( -5% + 10px);
}

.pace-progress[data-progress-text="96%"] {
  transform: translateX(96%) !important;
}

.pace-progress[data-progress-text="96%"]::after {
  right: calc( -4% + 10px);
}

.pace-progress[data-progress-text="97%"] {
  transform: translateX(97%) !important;
}

.pace-progress[data-progress-text="97%"]::after {
  right: calc( -3% + 10px);
}

.pace-progress[data-progress-text="98%"] {
  transform: translateX(98%) !important;
}

.pace-progress[data-progress-text="98%"]::after {
  right: calc( -2% + 10px);
}

.pace-progress[data-progress-text="99%"] {
  transform: translateX(99%) !important;
}

.pace-progress[data-progress-text="99%"]::after {
  right: calc( -1% + 10px);
}

.pace-progress[data-progress-text="100%"] {
  transform: translateX(100%) !important;
}

.pace-progress[data-progress-text="100%"]::after {
  right: calc( 0% + 10px);
}

body.home.pace-done {
  visibility: visible;
  height: 100%;
  overflow: auto;
}

@media (min-width: 768px) {
  body.home.pace-done {
    height: auto;
  }
}

body.home.pace-done .pace {
  visibility: hidden;
  opacity: 0;
}
