/******************************
 * ブログ
 ******************************/

.blog-panel {
  padding: 50px 0;
  background: url('img/common/bg01.jpg');
  box-shadow: 0 1px rgba(black, 0.02) inset;

  &__inner {
    max-width: 1000px;
    padding: 0 10px;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
  }

  &__main {
    flex: 0 0 100%;
    
    @media (min-width: $bp) {
      flex: 1 1 auto;
      padding-right: 20px;

    }
  }

  &__side {
    flex: 0 0 100%;
    order: 2;

    @media (min-width: $bp) {
      flex: 0 0 250px;
      order: 1;
    }
  }

  &__pager {
    flex: 0 0 100%;
    margin: 20px 0;
    order: 1;

    @media (min-width: $bp) {
      order: 2;
    }
  }
}


.blog-article {
  background-color: white;
  box-shadow: 0 2px 1px rgba(black, 0.05);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;

  a {
    color: $light-brown;
  }

  &__date {
    color: rgba($light-brown, 0.5);
    padding: 0 5px;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 2.0rem;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    background-color: rgba($light-brown, 0.08);
    padding: 3px 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: rgba($light-brown, 0.5);
  }

  &__time, &__category, &__tag {
    [class*=fa-] {
      margin-right: 3px;
    }
  }

  &__time {
    margin-right: 10px;
  }

  &__category {
    margin-right: 10px;
  }

  &__body {
    padding: 0 5px;
    line-height: 1.6;
    
    p {
      margin-bottom: 1em;
    }
  }
}


.blog-section-side {
  margin-bottom: 10px;
  padding: 5px 0;

  &__title {
    font-size: 1.6rem;
    padding: 5px 3px;
    border-bottom: solid 1px $light-brown;
  }

  &__body {
    padding: 5px 10px;
  }
}


.blog-side-list {
  &__item {
    margin: 8px 0;

    a {
      color: $light-brown;
    }
  }
}


.blog-pager {
  display: flex;
  justify-content: center;

  &__item {
    a, &._current {
      padding: 5px 10px;
      margin: 0 5px;
      color: $dark-brown;
    }

    a {
      display: block;
      color: $light-brown;
      background-color: white;
      box-shadow: 0 2px 1px rgba(black, 0.05);
      border-radius: 3px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        opacity: 1;
        background-color: $light-brown;
        color: white;
      }
    }
  }
}