.common-tag {
  border: solid 1px rgba($light-brown, 0.3);
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: 5px;
  color: $light-brown;
  font-size: 10px;
  font-family: $font-family-sans-serif;
}


%common-table {
  max-width: 600px;
  margin: 0 auto;

  @media (max-width: $bp) {
    padding: 0 20px;
  }

  &__row {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: $bp - 1) {
      flex-flow: wrap;
    }

    @media (min-width: $bp) {
      margin-bottom: 10px;
    }
  }

  &__header-cell {
    flex: 0 0 100%;
    line-height: 1.6;

    @media (max-width: $bp - 1) {
      font-size: 1.3rem;
    }

    @media (min-width: $bp) {
      flex: 0 0 150px;
      border-right: solid 1px $light-brown;
      padding: 16px 18px;
    }
  }

  &__cell {
    flex: 0 0 100%;
    line-height: 1.6;
    color: rgba($light-brown, 0.6);

    @media (max-width: $bp - 1) {
      margin-left: 10px;
      font-size: 1.6rem;
    }

    @media (min-width: $bp) {
      flex: 1 0 auto;
      padding: 16px 18px;
    }
  }
}

@mixin common-table {
  @extend %common-table;

  &__row {
    @extend %common-table__row;
  }

  &__header-cell {
    @extend %common-table__header-cell;
  }

  &__cell {
    @extend %common-table__cell;
  }
}