/******************************
 * お問い合わせ
 ******************************/

.contact-section {
  padding: 50px 0;

  &__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;
    white-space: nowrap;
    line-height: 1.6;
  }
}

.contact-table {
  @include common-table;

  &__row {
    &._center {
      justify-content: center;
    }
  }

  &__header-cell {
    @media (min-width: $bp - 1) {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  &__cell {
    margin: 0;

    @media (min-width: $bp - 1) {
      padding: 8px 18px;
    }
  }

  input[type=text], input[type=email], textarea {
    border-width: 0;
    background-color: rgba($light-brown, 0.08);
    width: 100%;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.4rem;

    &:focus {
      background-color: rgba($light-brown, 0.15);
    }
  }

  textarea {
    height: 10em;
  }

  input[type=submit] {
    border: solid 1px $brown;
    background-color: $brown;
    color: white;
    letter-spacing: 1em;
    font-size: 1.4rem;
    padding: 5px 5px 5px calc(5px + 1em);
    transition: color 0.3s, background-color 0.3s;
    margin-left: 20px;

    &:hover {
      background-color: white;
      color: $brown;
      cursor: pointer;
    }
  }
}