/******************************
 * ギャラリー
 ******************************/

.gallery-list {
  padding: 50px 0;
  background: url('img/common/bg01.jpg');
  box-shadow: 0 1px rgba(black, 0.02) inset;

  &__inner {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (96% / 3) (96% / 3) (96% / 3);
    grid-gap: 2%;

    @media (max-width: $bp) {
      padding: 0 20px;
    }
  }

  .gallery-list-item {
    margin-bottom: 2vw;

    @media (min-width: 960px) {
      margin-bottom: 20px;
    }

    &:nth-child(2) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2 / span 2;
    }

    &:nth-child(3) {
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      grid-row: 2 / span 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;
    }

    &:nth-child(5) {
      -ms-grid-row: 3;
      -ms-grid-row-span: 2;
      grid-row: 3 / span 2;
      -ms-grid-column: 3;
      grid-column: 3;
    }

    img {
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(black, 0.1);
      width: 100%;
    }
  }
}