/******************************
 * ヘッダー
 ******************************/

.header._top {
  height: 100%;
}

.header-bar {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  padding: 0 10px;
  z-index: 1000;
  backface-visibility: hidden;
  box-shadow: 0 1px 1px rgba(black, 0.05);

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-bar-height;
  }

  @media (min-width: $bp) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &._show {
      opacity: 1;
      visibility: visible;
    }
  }
}


.header-bar-brand {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1100;

  @media (max-width: $bp) {
    &._open {
      .header-bar-brand__name {
        color: white;
      }

      .header-bar-brand__white-logo {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    position: relative;

    img {
      max-width: 100%;
    }
  }

  &__white-logo {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s;
  }

  &__name {
    color: $dark-brown;
    transition: color 0.3s;
  }
}


.header-bar-hamburger {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 1100;

  @media (min-width: $bp) {
    display: none;
  }

  &::before, &__bar, &::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: $brown;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, top 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &::before {
    content: '';
    top: 25%;
  }

  &__bar {
    top: 50%;
  }

  &::after {
    content: '';
    top: 75%;
  }

  &._open {
    &::before, .header-bar-hamburger__bar, &::after {
      top: 50%;
      background-color: white;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    .header-bar-hamburger__bar {
      opacity: 0;
      transform: translateX(100%);
    }
  
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}


.header-bar-nav {
  @media (max-width: $bp) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $light-brown;
    transform: translateX(100%);
    transition: transform 0.3s;
    padding-top: $header-bar-height;

    &._open {
      transform: translateX(0%);
    }
  }

  &__list {
    @media (min-width: $bp) {
      display: flex;
    }

    @media (max-width: $bp - 1) {
      margin-top: 20px;
    }
  }

  &__list-item {
    a {
      display: block;
      position: relative;
      padding: 10px;
      color: $light-brown;
      transition: color 0.3s;

      @media (max-width: $bp - 1) {
        color: white;
        font-size: 2.0rem;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 20px;
      }

      small {
        display: block;
        font-size: 1.4rem;
        color: rgba(white, 0.5);
        margin-top: 3px;

        &::before, &::after {
          content: '-';
        }

        @media (min-width: $bp) {
          display: none;
        }
      }

      @media (min-width: $bp) {
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 3px;
          background-color: rgba($brown, 0.5);
          transition: width 0.3s;
        }
        
        &:hover {
          opacity: 1;
          color: $dark-brown;
          
          &::after {
            width: 60%;
          }
        }
      }
    }
  }
}


.header-top {
  @media (max-width: $bp) {
    height: 100%;
    position: relative;
  }

  @media (min-width: $bp) {
    display: flex;
    height: auto;
  }
}


.header-top-nav {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $bp - 1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px $light-brown;
    box-shadow: 0 0 0 5px rgba(white, 0.9);
    margin-top: -30px;
  }

  @media (min-width: $bp) {
    height: 100vh;
    background: url('img/common/bg01.jpg');
  }

  &__inner {
    @media (max-width: $bp - 1) {
      padding: 10px;
      background-color: rgba(white, 0.9);
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    @media (min-width: $bp) {
      width: 350px;
    }
  }

  &__logo {
    width: 60px;
    margin: 0 auto 5px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 20px;
    color: $dark-brown;
  }

  &__subtitle {
    font-size: 1.2rem;
    text-align: center;
    color: $light-brown;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    white-space: nowrap;

    @media (min-width: $bp) {
      margin-bottom: 15px;
    }

    &::before, &::after {
      content: '-';
      margin: 0 10px;
    }
  }

  $margin-right: 30px;

  &__list {
    display: flex;
    flex-flow: wrap column;
    height: 60px;
    align-content: center;
    margin-right: -$margin-right;

    @media (max-width: $bp - 1) {
      display: none;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: 30px;
    margin-right: $margin-right;

    a {
      color: $brown;

      .fa-angle-right {
        font-size: 1.1rem;
        margin-right: 5px;
        vertical-align: 0;
        color: rgba($dark-brown, 0.6);
      }
    }
  }
}


.header-top-hero {
  flex: 0 0 50%;
  height: 100%;
  background: url('img/top/hero_bg.jpg') center / cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  @media (min-width: $bp) {
    height: 100vh;
    justify-content: space-between;
  }

  &__text {
    padding: 80px 0px 0px 30px;

    @media (max-width: $bp - 1) {
      text-align: right;
      margin-bottom: 30px;
    }

    span {
      display: inline-block;
      background-color: rgba(white, 0.8);
      font-size: 5vw;
      line-height: 1.8;
      padding: 0 20px;
      margin-bottom: 15px;
      color: $light-brown;

      @media (min-width: $bp) {
        font-size: 2.4rem;
      }
    }
  }
}


.header-top-hero-new {
  background-color: rgba(white, 0.8);
  margin: 20px 30px;
  padding: 10px;

  @media (max-width: $bp) {
    display: none;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px;
  }
}


.header-top-hero-new-item {
  a {
    display: flex;
    padding: 8px 5px;
    color: $brown;
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba($brown, 0.3);
  }

  &__date {
    width: 90px;
    color: rgba($brown, 0.8);
  }
}