/******************************
 * 取扱商品
 ******************************/

.items-list {
  padding: 50px 0;
  background: url('img/common/bg01.jpg');

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}


.items-list-item {
  $c: &;
  position: relative;
  
  @media (min-width: $bp) {
    display: flex;
  }

  &:not(:last-child) {
    padding-bottom: 80px;
  }

  &__anchor {
    position: absolute;
    top: -90px;
  }

  &__image {
    @media (min-width: $bp) {
      width: 600px;
    }

    img {
      width: 100%;
    }
  }

  @media (min-width: $bp) {
    &._reverse {
      justify-content: flex-end;
  
      #{$c}__image {
        order: 1;
      }
  
      .items-list-item-info {
        order: 0;
        right: auto;
        left: 20px;
      }
    }
  }
}


.items-list-item-info {
  background-color: white;
  padding: 10px;
  border: solid 1px rgba($light-brown, 0.3);
  box-shadow: 0 0 0 5px white;
  position: relative;
  z-index: 50;
  margin-top: -20px;
  margin-left: 20px;
  width: calc(100% - 20px);

  @media (max-width: $bp - 1) {
    border-right-width: 0;
  }
  
  @media (min-width: $bp) {
    position: absolute;
    right: 20px;
    width: 400px;
    margin: 20px 30px;
  }

  &__title {
    font-size: 2.0rem;
    color: $brown;
    padding: 5px;
    border-bottom: solid 1px rgba($light-brown, 0.1);
    margin-bottom: 5px;
  }

  &__tags {
    display: flex;
    padding: 0 3px;
    margin-bottom: 5px;
  }

  &__price {
    padding: 5px 5px 0;
    font-size: 1.2rem;
    color: rgba($light-brown, 0.5);
  }

  &__description {
    padding: 5px;
    line-height: 1.6;
  }
}