body.home {
  visibility: hidden;
  position: relative;

  .pace {
    visibility: visible;
    position: fixed;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: visibility 0.3s, opacity 0.3s;
  }
}

.pace-progress {
  height: 3px;
  background-color: $light-brown;
  width: 100%;
  position: absolute;
  right: 100%;
  top: 50%;

  &::after {
    content: attr(data-progress-text);
    display: inline-block;
    position: fixed;
    width: 45px;
    top: -1.5em;
    text-align: right;
    right: 0;
  }

  @for $i from 0 through 100 {
    &[data-progress-text="#{$i}%"] {
      transform: translateX(($i * 1%)) !important;
    }
    &[data-progress-text="#{$i}%"]::after {
      right: calc( #{( -100% + $i )} + 10px );
    }
  }
}

body.home.pace-done {
  visibility: visible;
  height: 100%;
  overflow: auto;

  @media (min-width: $bp) {
    height: auto;
  }

  .pace {
    visibility: hidden;
    opacity: 0;
  }
}