/******************************
 * Q&A
 ******************************/

.qa-list {
  padding: 50px 0;

  &__inner {
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: $bp - 1) {
      padding: 0 10px;
    }
  }
}

.qa-block {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 5px;
    background-color: rgba($brown, 0.2);
  }
}

.qa-question {
  display: flex;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($light-brown, 0.05);
  }

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 40px;
    background: url('img/qa/icon_q.svg') center / 31px 40px no-repeat;
    margin-right: 10px;
  }

  &__title {
    flex: 1 0 auto;
    padding-top: 7px;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__accordion-switch {
    align-self: center;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: transform 0.3s;
  }

  &._open {
    .qa-question__accordion-switch {
      transform: rotateZ(180deg);
    }
  }
}

.qa-answer {
  display: flex;
  padding: 0 10px;
  margin-top: 20px;

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 28px;
    background: url('img/qa/icon_a.svg') center / 32px 28px no-repeat;
    margin-right: 10px;
  }

  &__inner {
    padding-top: 4px;
    line-height: 1.6;
  }
}


.qa-answer-wrapper {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}