/******************************
 * 採用情報
 ******************************/

.recruit-section {
  padding: 50px 0;

  &__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;
    white-space: nowrap;
    line-height: 1.6;
  }
}


.recruit-table {
  @include common-table;
}