/******************************
 * サブページ
 ******************************/

.sub-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background: url('img/common/bg03.svg') center / 150px;
  border-bottom: solid 1px #f0f0f0;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    max-width: 800px;
    height: 1px;
    background-color: rgba($light-brown, 0.7);
  }

  &__inner {
    margin-top: $header-bar-height;
    text-align: center;
  }

  &__title {
    font-size: 2.0rem;
    color: $brown;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: rgba($light-brown, 0.8);
    line-height: 1.6;
  }
}