/******************************
 * トップページ
 ******************************/

.top-section {
  padding: 50px 0;
}


.top-section-concept {
  &__inner {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
  }

  &__image {
    flex: 0 1 20%;
    background: url('img/top/hero_bg.jpg') left / cover;

    @media (min-width: $bp) {
      flex: 0 1 200px;
    }
  }
}


.top-concept {
  padding: 150px 0px 40px 30px;

  &__title {
    font-size: 2.0rem;
    color: $brown;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 10px;
    line-height: 1.7;
  }
}


.top-section-new {
  background: url('img/common/bg01.jpg');
  overflow: hidden;

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__title {
    font-size: 2.0rem;
    color: $brown;
    text-align: center;
    margin-bottom: 30px;
  }

  $list-gap: 16px;

  &__list {
    display: flex;
    margin: 0 (-($list-gap / 2));
    margin-bottom: 30px;
    visibility: hidden;

    &:hover .top-new-item {
      opacity: 0.6;

      &:hover {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
  }

  &__list-item {
    flex: 0 0 (100% / 3);
    padding: 0 $list-gap;

    @media (max-width: $bp) {
      &:first-child {
        flex: 0 0 100%;
        padding: 0 30px;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__button {
    text-align: center;

    a {
      display: inline-block;
      background-color: white;
      border: solid 1px rgba($light-brown, 0.6);
      border-radius: 2px;
      color: $brown;
      padding: 15px 30px;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: $brown;
        color: white;
        opacity: 1;
      }
    }
  }
}


.top-new-item {
  background-color: white;
  box-shadow: 0 1px 2px rgba(black, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.3s;
  visibility: visible;

  &__image {
    position: relative;
    height: 0;
    padding-top: 70%;
    overflow: hidden;
    margin-bottom: 5px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;
    }
  }

  &__name {
    color: $dark-brown;
    padding: 5px 8px;
    font-size: 1.6rem;
  }

  &__tags {
    display: flex;
    padding: 5px 6px 8px;
  }

  &__description {
    border-top: solid 1px rgba($light-brown, 0.1);
    color: rgba($light-brown, 0.7);
    line-height: 1.4;
    padding: 8px 8px;
    text-align: justify;
  }
}


.top-section-social {
  background: url('img/common/bg02.jpg') left / cover;

  &__inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $bp) {
      display: flex;
    }
  }

  &__blog {
    flex: 1 1 auto;

    @media (max-width: $bp - 1) {
      margin-bottom: 30px;
    }

    @media (min-width: $bp) {
      padding-right: 20px;
    }
  }

  &__twitter {
    flex: 1 1 auto;

    @media (min-width: $bp) {
      flex: 0 0 auto;
      width: 300px;
    }
  }
}


.top-section-blog {
  border-radius: 5px;
  padding: 20px;

  &__title {
    font-size: 2.0rem;
    color: $brown;
    border-bottom: solid 1px $light-brown;
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  &__articles-item {
    &:not(:last-child) {
      border-bottom: solid 1px rgba($light-brown, 0.1);
    }
  }
}


.top-blog-article {
  display: flex;
  padding: 8px 5px;

  &__date {
    flex: 0 0 6em;
    color: rgba($light-brown, 0.7);
  }

  &__title {
    color: $brown;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


.top-section-twitter {
  text-align: center;
}


.top-section-access {
  background: url('img/common/bg01.jpg');

  &__title {
    font-size: 2.0rem;
    color: $brown;
    margin-bottom: 30px;
    text-align: center;
  }

  &__map {
    height: 350px;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }

  &__address {
    text-align: center;
    line-height: 1.7;
    color: $brown;

    a {
      color: $brown;
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      color: rgba($light-brown, 0.8);
    }
  }
}