$font-family-sans-serif: Meiryo, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: Volkhov, "Yu Mincho", YuMincho, "Hiragino Mincho ProN W3", "MS PMincho", "MS Mincho", serif;
$font-family-base: $font-family-serif;

$max-width: 1000px;
$bp-lg: 992px;
$bp: 768px;

$dark-brown: #443d34;
$brown: #5d5245;
$light-brown: rgba($brown, 0.85);

$header-bar-height: 55px;