.recruit-meta-box {
  &__row {
    display: flex;
    margin-bottom: 10px;
  }

  &__header-cell, &__cell {
    padding: 5px;
  }

  &__header-cell {
    flex: 0 0 150px;
  }

  &__cell {
    flex: 1 1 auto;
  }

  input[type=text], textarea {
    width: 100%;
  }
}


.item-meta-box {
  &__selected-image {
    max-width: 300px;

    img {
      max-width: 100%;
    }
  }

  &__description {
    width: 100%;
    height: 100px;
  }
}

.qa-meta-box {
  &__answer {
    width: 100%;
    height: 100px;
  }
}